{% extends "bootstrap/base.html" %}

{% block title %}Label-recognition-app{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}

{% block styles %}
{{super()}}
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('.static', filename='apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('.static', filename='favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('.static', filename='favicon-16x16.png')}}">
<link rel="manifest" href="{{url_for('.static', filename='site.webmanifest')}}">
<link rel="mask-icon" href="{{url_for('.static', filename='safari-pinned-tab.svg')}}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}{% endblock %}
