{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="text-center">Učitane slike</h1>
  <hr />
  <div class="row align-items-center justify-content-center">
    <div class="col">
        {% for image_path in result.image_path %}
        <form action="{{ url_for('upload') }}" method="post">
          <div class="show-image">
            <img
              src="{{ url_for('static', filename=image_path) }}"
              class="img-rounded"
              alt="{{ image_path }}"
              width="200"
              height="200"
            />
            <input type="hidden" name="image" value="{{image_path}}" />
            <input class="delete btn btn-danger" type="submit" value="Delete" />
          </div>
        </form>
        {% endfor %}
    </div>
  </div>
  <a href="{{ url_for('index') }}" class="btn btn-default">Povratak</a>
</div>
{% endblock %} 
